/* Set background */
body {background-color: snow;
text-align: center;
}

/* Top Navigation!! */
.topnav a {
  float: left;
  color: black
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #FFDDE6;
  color: black;
}

.topnav a.active {
  background-color: #FF7FA2;
  color: white;
}

#blog {
  width:60px;
  color: black;
}

#photos {
  width:60px;
  color: black;
}

#songs {
  width:60px;
  color:black;
}

/* Absolute positioning!! */
/* This is a really pretty color! #FF7FA2.
So is antiquewhite. */
#topnav {
  margin:0;
  background-color:snow;
}
.parent {
  background-color: snow;
  height: 100px;
  width: 700px;
  left:20%;
  position: relative;
}
.topnav {
  background-color:#FFCAD8;
  overflow:hidden;
  display: inline-block;
  text-align: center;
  margin-bottom: 2em;
  position:absolute;
  top:25px;
  left: 43%;
}
.wrapper {
  position: absolute;
  top: 125px;
  left:24%;
}
.photos {
  position: absolute;
  top: 125px;
  left:41%;
}
.nineteenth {
  grid-template-columns: repeat(4, 1f);
  grid-auto-rows: 300px;
  grid-gap: 1em;
  position: absolute;
  top:2500px;
}

.songs {
  position:absolute;
  top:125px;
  left:24%;
}
/*Absolute positioning DONE */


/* Edit Link Formatting */
.wrapper a:link {
  font-size:17px;
  color: black;
  text-decoration: none;
  background-color: #DADADA;
}

.wrapper a:hover {
  font-size:17px;
  color: #FF7FA2;
  text-decoration: none;
}

.wrapper a:visited {
  font-size:17px;
  color: #FF7FA2;
  text-decoration: underline;
}


/* Table of Songs!!! */
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
  padding: 8px;
}



/* Text styles!!!*/
h1 {
  color: #FF7FA2;
  line-height: 1em;
  margin-top:2em;
}

h2 {
  color: #FF7FA2;
  font-size:27px;
}

h3 {
  padding: 0%;
  margin-top: 0%;
}

h4 {
  font-size: 19px;
  text-align: left;
  width: 870px;
  padding: auto;
  margin-left:200px;
}

p {
  font-size: 19px;
  text-align: left;
  padding: 60px;
  width: 970px;
  margin-left: 100px;
  margin-right:80px;
}

#blogtitle {
  font-size:17px;
}

#source {
  color:#5B37C6;
  font-size:15px;
  margin-top: 0%;
  margin-bottom: 3em;
  max-width: 300px;
}

#apology {
  color:#5B37C6;
  font-size:15px;
  margin-top: 0%;
  margin-bottom: 10px;
  max-width: 300px;
}

#apology-text {
  color:#A68CF2;
  font-size:15px;
  margin-top: 0%;
  margin-bottom: 3em;
  max-width: 300px;
  text-align: justify;
}

#wetheurban {
  color:#5B37C6;
  font-size:15px;
  margin-top: 0%;
  margin-bottom: 5em;
}

#tabletitle {
  color: black;
  font-size:25px;
  margin-bottom:15px;
}

#redacted {
  text-align: center;
}


/* Blog post spacing!!! 
#assata {
   margin-left: 19em;
   margin-right:0%;
   margin-bottom: 5em;
}

#aletter {
  margin-left: 0%;
  margin-right:19em;
  margin-bottom: 5em;
}

#debate {
  margin-left: 19em;
  margin-right:0%;
  margin-bottom: 10em;
  margin-top: 3em;
}

#bigbanks {
  margin-left: 0%;
  margin-right:17em;
  margin-bottom: 10em;
  margin-top: 3em;
}
*/
